<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.spiderapi"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
                
        <activity
            android:name=".GameCore"
            android:label="@string/title_activity_activity_core" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>          
        
        <activity
            android:name=".phonemenu_aboutus"
            android:theme="@android:style/Theme.Dialog" >
            <intent-filter>
                <action android:name="com.example.spiderapi.PHONEMENU_ABOUTUS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity> 
            
        <activity
            android:name=".phonemenu_pref"
            android:label="@string/title_activity_activity_core" 
            >
            <intent-filter>
                <action android:name="com.example.spiderapi.PHONEMENU_PREF" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>       
      
    </application>

</manifest>